@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');


.nerko-one-regular {
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
}


.loading {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(240, 243, 242, 0.5);
  }
 
  .parent{
    min-height: 120vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  .cursor-pointer{
    cursor: pointer;
  }
  body{
    font-family: var(--font-family) !important;
    overflow-x: hidden;
    min-height: 120vh;
    background-color: #272B30 !important;
    color: rgb(255, 255, 255) !important;

}
.navbar{
  background-color: #3A497B;
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.btn{
  background-color: #3A497B !important;
  color: aliceblue !important;
}
a{
  text-decoration: none !important;
  color: #fff !important;
}

.detailes{
  min-height: 90vh;
}

.footer{
  height: 10vh;
  background-color: #1f2124;
}



.badge-color{
  background-color:#32383e ;
  height: 2em;
}




.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col-md-3 {
  flex: 1 1 23%; 
  min-width: 250px;
  max-width: 300px;
  padding: 15px;
}

.cursor-pointer {
  cursor: pointer;
}

.game {
  border: 1px solid #32383e;
  border-radius: 5px;
  padding: 10px;
  width: 23% !important;
  margin: 10px;
  min-height: 60vh;
  transition: transform 0.2s;
}

.game:hover {
  transform: scale(1.05);
}


@media (min-width: 995px) {
  .col-md-3 {
    flex: 1 1 23%;
  }
}

@media (max-width: 995px) {
  .col-md-3 {
    flex: 1 1 45%; 
  }
}

@media (max-width: 600px) {
  .col-md-3 {
    flex: 1 1 100%; 
  }
}
