@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');

.loading {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(240, 243, 242, 0.5);
  }
 
  .parent{
    min-height: 120vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  .cursor-pointer{
    cursor: pointer;
  }
  body{
    font-family: var(--font-family) !important;
    overflow-x: hidden;
    min-height: 120vh;
    background-color: #272B30 !important;
    color: rgb(255, 255, 255) !important;

}
.navbar{
  background-color: #3A497B;
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
}
.btn{
  background-color: #3A497B !important;
  color: aliceblue !important;
}
a{
  text-decoration: none !important;
  color: #fff !important;
}

.detailes{
  min-height: 90vh;
}

.footer{
  height: 10vh;
  background-color: #1f2124;
}


.game{
  min-height: 55vh;
}
.badge-color{
  background-color:#32383e ;
  height: 2em;
}
